version: '3.7'

services:
  mysql:
    container_name: citylog-mysql
    build: mysql/
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: citylogdb
      MYSQL_ROOT_PASSWORD: sidney

  citylog:
    container_name: citylog-tomee
    build: ../
    ports:
      - "8080:8080"
    depends_on:
      - mysql
